.container--footer {
  padding-top: 100px;
}

.page-footer {
    background-color: var(--bgbg-gray);
  }
  .footer-logo__icon {
    gap: 10px;
    align-items: center;
    transition: all 0.3s ease-in-out;
    &:hover {
      scale: 0.9;
    }

  }
  .footer-logo__item {
    color: #fff;
  }
  .footer-box__title {
    color: #fff;
    font-weight: 400;
    line-height: 1.45;
    letter-spacing: -1px;
    padding-bottom: 10px;
    @media (max-width: 576px) {
      font-size: 14px;
    }
  }
  .footer-box__item {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.7; 
    letter-spacing: -0.3px;
    text-transform: uppercase;
    color: #E7E5EA;
    padding-top: 10px;
    &:hover {
      color: #4F77FF;
    }
    @media (max-width: 576px) {
      font-size: 12px;
    }
  }
  .footer-newsletter__title {
    color: #fff;
    font-weight: 400;
    line-height: 1.45;
    letter-spacing: -1px;
    padding-bottom: 10px;
    @media (max-width: 576px) {
      font-size: 14px;
    }
  }

  .footer-newsletter__discription {
    color: var(--text-text-gray, #E7E5EA);
    font-family: DM Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.62; /* 162.5% */

    color: var(--text-text-gray, #E7E5EA);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.62; /* 162.5% */
    @media (max-width: 576px) {
      font-size: 14px;
    }
  }

  
  .subcrible-btn--fs{
    justify-content: flex-start;
    padding-bottom: 15px;
    padding-top: 25px;
    gap: 6px;
  
  }
  .footer-bottom__content {
    color: #E7E5EA;
    font-weight: 400;
  }
  .footer-border {
    border: 1px solid var(--text-text);
    opacity: 0.3;
    margin-top: 100px;
  }
  .footer-bottom {
    justify-content: space-between;
    padding: 27px 0;
    align-items: center;
  }
  .subcribe__content {
    font-size: 22px;
    letter-spacing: -1px;
   
  }

  @media (max-width: 768px) {
    .footer-box {
      --col-xs: 3;
      --col-lg: 2;

    }
    
  }
  
  .col {
    @media (max-width: 991px) {
      --col-xs: 12;
      --col-lg: 2;
    }
   
  }

  .footer-bottom__img {
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: flex;
    gap: 30px;
    &:hover {
      scale: 1.2;
    }
  }