.header {
    background-image: url(/assets/img/BGmain.png);


}

.container__extra {
    max-width: 1920px;
    height: 500px;
    // background-image: url(/assets/img/BGmain.png);
}

.header-flex-extra {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    padding: 18px 0;
   // background-image: url(/assets/img/BGmain.png);

}


.navigation-list {
    display: flex;
    list-style-type: none;
    gap: 30px;
}
.navigation-list__items {
    a {
        position: relative;
        &::before {
            content: "";
            width: 10px;
            height: 10px;
            background-color: #34C635;
            position: absolute;
            left: 40%;
            top: -8px;
            border-radius: 50%;
            display: none;
        }
        
        
    }
    &:hover {
        a {
            &::before {
                display: block;
            }
        }
    }
}

.button-header {
    display: flex;
    gap: 30px;
    align-items: center;
}
.button-sign-in {
    padding: 13px 24px;
    background-color: #292F3A;
    color: #fff;
    border-radius: 5px;
}

.header-title-text {
    padding-top: 139px;
}

.header-title {
    text-align: center;
}

.header-discription {
    font-size: 15px;
    text-align: center;
    color: #7B88A8;

}

.header-flex__button {
    gap: 30px;align-items: center;
}