body{
    margin: 0;
    font-family: 'Outfit', sans-serif;
}

a {
    text-decoration: none;
}
ul{
    padding: 0 0;
}
.wrapper {
    overflow: hidden;
}
h2 {
    font-size: 48px;
}
h3 {
    font-size: 36px;
}
h4 {
    font-size: 22px;
}
