body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-family: "DM Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-word;
}

:root {
  --grid: 12;
  --grid-container-width: 1700px;
  --grid-container-gap: 15px;
  --grid-col-gap-vertical: 30px;
  --grid-col-gap-horizontal: 30px;
  --text-heading: #2D3958;
  --text-text:#7B88A8;
  --action-blue: #4F77FF;
  --bgbg-light:#F8FAFC;
  --text-dark-alt: #321370;
  --bgbg-white:#ffff;
  --action-purple: #886CFF;
  --action-blue: #4F77FF;
  --lines-gray-line: #E7E5EA;
  --action-green: #34C635;
  --bgbg-gray: #292F3A;
  --bgbg-gray: #292F3A;
  --text-text-gray:#E7E5EA;
}

a {
  text-decoration: none;
}

ul {
  padding: 0 0;
  list-style: none;
}

li {
  padding-bottom: 10px;
}

.wrapper {
  overflow: hidden;
}

h1 {
  font-family: Outfit;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -2px;
  color: #2D3958;
  text-align: center;
}

h2 {
  font-family: Outfit;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -2px;
  color: #2D3958;
}

h3 {
  font-family: Outfit;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3; /* 127.778% */
  letter-spacing: -1px;
  color: #2D3958;
}

h4 {
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 145.455% */
  letter-spacing: -1px;
  color: #120F1F;
}

h5 {
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6; /* 162.5% */
  color: #2D3958;
}

.d-flex {
  display: flex;
}

img {
  display: block;
  max-width: 100%;
}

.button {
  transition: all 0.3s ease-in-out;
  position: relative;
  cursor: pointer;
  padding: 13px 24px;
  border-radius: 5px;
  color: #FFF;
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  display: inline-block;
  text-transform: uppercase;
}
.button:hover {
  color: #292F3A;
}
.button .hover {
  transition: all 0.3s ease-in-out;
}
.button .hover:hover {
  scale: 0.8;
}
@media (max-width: 991px) {
  .button {
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 400;
  }
}

.button--black {
  background-color: var(--bgbg-gray);
}

.button--blue {
  background-color: var(--action-blue);
}

.button--purple {
  background-color: var(--action-purple);
}

.button--gray {
  background-color: var(--text-text-gray);
  color: var(--text-text);
}

.icon-btn {
  transition: all 0.5s ease;
}

.subcrible__btn {
  justify-content: center;
  gap: 6px;
}
@media (max-width: 991px) {
  .icon-btn {
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    display: block;
    left: 0;
    top: -100%;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    z-index: -1;
  }
  .icon-btn.show {
    left: 0;
    top: 40vh;
    z-index: -1;
  }
}
.button--blue {
  background-color: var(--action-blue);
}

.container--footer {
  padding-top: 100px;
}

.page-footer {
  background-color: var(--bgbg-gray);
}

.footer-logo__icon {
  gap: 10px;
  align-items: center;
  transition: all 0.3s ease-in-out;
}
.footer-logo__icon:hover {
  scale: 0.9;
}

.footer-logo__item {
  color: #fff;
}

.footer-box__title {
  color: #fff;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: -1px;
  padding-bottom: 10px;
}
@media (max-width: 576px) {
  .footer-box__title {
    font-size: 14px;
  }
}

.footer-box__item {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  color: #E7E5EA;
  padding-top: 10px;
}
.footer-box__item:hover {
  color: #4F77FF;
}
@media (max-width: 576px) {
  .footer-box__item {
    font-size: 12px;
  }
}

.footer-newsletter__title {
  color: #fff;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: -1px;
  padding-bottom: 10px;
}
@media (max-width: 576px) {
  .footer-newsletter__title {
    font-size: 14px;
  }
}

.footer-newsletter__discription {
  color: var(--text-text-gray, #E7E5EA);
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.62; /* 162.5% */
  color: var(--text-text-gray, #E7E5EA);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62; /* 162.5% */
}
@media (max-width: 576px) {
  .footer-newsletter__discription {
    font-size: 14px;
  }
}

.subcrible-btn--fs {
  justify-content: flex-start;
  padding-bottom: 15px;
  padding-top: 25px;
  gap: 6px;
}

.footer-bottom__content {
  color: #E7E5EA;
  font-weight: 400;
}

.footer-border {
  border: 1px solid var(--text-text);
  opacity: 0.3;
  margin-top: 100px;
}

.footer-bottom {
  justify-content: space-between;
  padding: 27px 0;
  align-items: center;
}

.subcribe__content {
  font-size: 22px;
  letter-spacing: -1px;
}

@media (max-width: 768px) {
  .footer-box {
    --col-xs: 3;
    --col-lg: 2;
  }
}
@media (max-width: 991px) {
  .col {
    --col-xs: 12;
    --col-lg: 2;
  }
}

.footer-bottom__img {
  cursor: pointer;
  transform: all 0.3 ease-in-out;
  display: flex;
  gap: 30px;
}
.footer-bottom__img:hover {
  color: #292F3A;
}

.header {
  background-image: url(/assets/img/BGmain.png);
  background-size: cover;
}

.container__extra {
  max-width: 1920px;
  height: 500px;
}

.header-flex-extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}

.navigation-list {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

.navigation-list__items a {
  position: relative;
}
.navigation-list__items a::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #34C635;
  position: absolute;
  left: 40%;
  top: -8px;
  border-radius: 50%;
  display: none;
}
.navigation-list__items:hover a::before {
  display: block;
}

.button-header {
  display: flex;
  gap: 30px;
  align-items: center;
}

.button-sign-in {
  padding: 13px 24px;
  background-color: #292F3A;
  color: #fff;
  border-radius: 5px;
}

.header-banner {
  padding-top: 139px;
  padding-bottom: 200px;
}

.header-banner__title {
  text-align: center;
}
@media (max-width: 1100px) {
  .header-banner__title {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .header-banner__title {
    font-size: 32px;
  }
}

.header-banner__discription {
  font-size: 15px;
  text-align: center;
  color: #7B88A8;
}

.header-flex__button {
  gap: 30px;
  align-items: center;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}

.header-bar {
  display: none;
  z-index: 99;
}
@media (max-width: 991px) {
  .header-bar {
    display: block;
  }
}

.navigation-list {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

@media (max-width: 991px) {
  .navigation-list--desktop {
    display: none;
  }
}

.navigation-list--mobile {
  display: none;
}
@media (max-width: 991px) {
  .navigation-list--mobile {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.navigation-list__items a {
  position: relative;
}
.navigation-list__items a::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #34C635;
  position: absolute;
  left: 40%;
  top: -8px;
  border-radius: 50%;
  display: none;
}
.navigation-list__items:hover a::before {
  display: block;
}

.button-header {
  display: flex;
  gap: 30px;
  align-items: center;
}
@media (max-width: 991px) {
  .button-header {
    position: fixed;
    justify-content: start;
    background-color: #fff;
    width: 80%;
    top: 0;
    height: 100vh;
    right: -80%;
    padding-top: 100px;
    flex-direction: column;
    gap: 45px;
    z-index: 99;
    transition: all 0.5s ease-out;
  }
}

.header-flex__logo {
  cursor: pointer;
  transition: all 0.3s ease;
}
.header-flex__logo:hover {
  scale: 0.9;
}

.button-sign-in {
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  padding: 13px 24px;
  background-color: #292F3A;
  color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.button-sign-in:hover {
  color: #4F77FF;
}

.show-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #333;
  z-index: 2;
  opacity: 0.5;
}

.show-menu {
  right: 0%;
  top: 0;
  overflow-y: scroll;
}

.button-header__bag {
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.button-header__bag:hover {
  scale: 1.2;
}

.button-header__search {
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.button-header__search:hover {
  scale: 1.2;
}

.input {
  padding-left: 20px;
  border-radius: 5px;
  border-radius: 5px;
  border: 1px solid var(--lines-gray-line, #E7E5EA);
  background: var(--text-text-white, #FFF);
}

.object__wrap {
  padding-top: 100px;
}

.section-bg {
  background-image: url(/assets/img/banner1.jpg);
  background-repeat: no-repeat;
  background-size: 44% 100%;
  background-position: right;
}

@media (max-width: 768px) {
  .section-bg {
    background-image: none;
  }
}
@media (max-width: 991px) {
  .section-bg {
    background-image: none;
  }
}
@media (max-width: 1200px) {
  .section-bg {
    background-image: none;
  }
}
.banner {
  position: relative;
  background-color: #F8FAFC;
}

.banner-wrap {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 88px);
}
@media (max-width: 768px) {
  .banner-wrap {
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .banner-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 1200px) {
  .banner-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.banner__text {
  margin: auto 0;
  position: relative;
}

.banner-text__title {
  color: var(--text-black, #222);
  font-family: Outfit;
  font-style: normal;
  letter-spacing: -2px;
  line-height: 78px;
  font-size: 72px;
  width: 570px;
  font-weight: 500;
  letter-spacing: -2px;
}
@media (max-width: 576px) {
  .banner-text__title {
    width: unset;
    text-align: center;
  }
}
@media (max-width: 354px) {
  .banner-text__title {
    font-size: 42px;
  }
}

.banner-text__description {
  color: #7B88A8;
  font-size: 18px;
  max-width: 500px;
  margin: 50px 0 70px 0;
}
@media (max-width: 991px) {
  .banner-text__description {
    text-align: center;
  }
}

.banner-text__button {
  display: flex;
  align-items: center;
  gap: 10px;
}
.banner-text__button .banner-text__play {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 20px rgba(18, 2, 47, 0.15);
}
.banner-text__button .banner-text__play:hover {
  scale: 0.8;
}
@media (max-width: 768px) {
  .banner-text__button {
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .banner-text__button {
    justify-content: center;
  }
}

.meet-body__icon {
  transition: all 0.3s ease;
  cursor: pointer;
}
.meet-body__icon:hover {
  scale: 1.2;
}

.banner-text__discover {
  text-transform: uppercase;
  padding: 18px 32px;
  background-color: #292F3A;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
  transition: all 0.3s ease;
  cursor: pointer;
}
.banner-text__discover:hover {
  scale: 0.8;
}

.banner-text__img {
  position: absolute;
  right: 0;
  height: 100%;
  width: 845px;
}
.banner-text__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.banner-text__dot1, .banner-text__dot2 {
  position: absolute;
  height: 15%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-text__dot1 {
  top: 139px;
  left: 8px;
}
@media (max-width: 768px) {
  .banner-text__dot1 {
    display: none;
  }
}

.banner-text__dot2 {
  top: 500px;
  left: 486px;
}
@media (max-width: 768px) {
  .banner-text__dot2 {
    display: none;
  }
}

.second-header {
  text-align: center;
}

.second-body {
  padding-top: 85px;
  display: flex;
}
@media (max-width: 1100px) {
  .second-body {
    flex-direction: column-reverse;
    padding-bottom: 250px;
  }
}
@media (max-width: 768px) {
  .second-body {
    flex-wrap: wrap;
    padding-bottom: 0;
  }
}

.second-header__title {
  padding-bottom: 40px;
  padding-top: 120px;
  display: inline-block;
}

.second-header__description {
  max-width: 691px;
  margin: 0 auto;
  color: #7B88A8;
  letter-spacing: -0.3px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

@media (max-width: 1100px) {
  .second-body__title {
    text-align: center;
  }
}
@media (max-width: 576px) {
  .second-body__title {
    text-align: center;
  }
}

.second-body__left {
  position: relative;
  width: 100%;
  max-width: 100%;
}
@media (max-width: 768px) {
  .second-body__left {
    display: none;
    padding: 30px;
    transform: translate(81px, 10px);
  }
}
@media (max-width: 500px) {
  .second-body__left {
    padding: 30px;
    transform: translate(-7px, -50px);
  }
}

.second-body__before {
  position: absolute;
  top: 175px;
  left: -38px;
  z-index: 1;
  cursor: pointer;
  transition: all 0.3s ease;
}
.second-body__before:hover {
  scale: 0.9;
}

.second-body__after {
  position: absolute;
  top: 35px;
  left: 154px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.second-body__after:hover {
  scale: 0.9;
}

.second-body__dot {
  position: absolute;
  top: 282px;
  left: 333px;
  z-index: -1;
  cursor: pointer;
  transform: all 0.3s ease;
}
.second-body__dot:hover {
  scale: 1.1;
}

.second-icon__icon {
  cursor: pointer;
  transition: all 0.3s ease;
}
.second-icon__icon:hover {
  scale: 0.9;
}

.second-brand__branding {
  padding-top: 30px;
  padding-bottom: 25px;
}

.second-brand__desigin {
  padding-top: 30px;
  padding-bottom: 25px;
}

.second-brand__icon {
  width: 70px;
  height: 70px;
  background-color: #292F3A;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.second-brand__icon:hover {
  scale: 1.1;
}

.second-brand {
  display: flex;
  padding-top: 48px;
}
@media (max-width: 1100px) {
  .second-brand {
    justify-content: center;
  }
}

.second-brand__title {
  color: #7B88A8;
}

.second-body__discription {
  padding-top: 40px;
  max-width: 541px;
  color: #7B88A8;
}
@media (max-width: 1100px) {
  .second-body__discription {
    max-width: unset;
    text-align: center;
  }
}

.second-icon {
  padding: 100px;
  margin-top: 200px;
}
@media (max-width: 768px) {
  .second-icon {
    margin-top: 0px;
  }
}

.second-icon__logo {
  display: flex;
  gap: 100px;
  justify-content: center;
  padding-top: 90px;
}
@media (max-width: 768px) {
  .second-icon__logo {
    flex-wrap: wrap;
  }
}
@media (max-width: 991px) {
  .second-icon__logo {
    flex-wrap: wrap;
  }
}
.second-icon__logo .logo {
  justify-content: center;
  display: flex;
}

.second-icon__discription {
  color: var(--text-text, #7B88A8);
  text-align: center;
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.45; /* 145.455% */
  letter-spacing: -1px;
  padding-top: 25px;
  text-align: center;
  color: #7B88A8;
}

.object__wrap {
  display: flex;
  padding-top: 205px;
  position: relative;
}

.project-left__discription {
  width: 270px;
  color: var(--text-text, #7B88A8);
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55; /* 155.556% */
  letter-spacing: -0.3px;
  padding-top: 24px;
  padding-bottom: 48px;
  color: #7B88A8;
}

.object__right {
  width: 335px;
}

@media (max-width: 768px) {
  .project-left {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .project-left {
    text-align: center;
  }
}

.project-left__button {
  text-transform: uppercase;
  padding: 18px 32px;
  display: inline-block;
  border-radius: 5px;
  background-color: #292F3A;
  color: #fff;
  transition: all 0.3s ease;
  cursor: pointer;
}
.project-left__button:hover {
  opacity: 0.6;
}

.left__dot {
  position: absolute;
  top: 736px;
  left: 66px;
  opacity: 0.6;
}

.left__dot2 {
  position: absolute;
  top: 312px;
  left: 1271px;
}

.object__left {
  position: relative;
}
.object__left .left__img__card {
  position: absolute;
}
.object__left .left__img {
  position: absolute;
  top: 0px;
  left: 500px;
}
.object__left .left__img__tea {
  position: absolute;
  top: 430px;
  left: 0px;
}
.object__left .left__img__cover {
  position: absolute;
  top: 622px;
  left: 505px;
}

@media (max-width: 768px) {
  .client-wrap {
    padding: 100px 0px;
  }
}

.client {
  margin-top: 120px;
  background-color: #F8FAFC;
}

.client-wrap__title {
  padding-top: 100px;
  padding-bottom: 30px;
  text-align: center;
}

.client-wrap__discription {
  color: var(--text-text, #7B88A8);
  text-align: center;
  font-family: Outfit;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.45; /* 145.455% */
  letter-spacing: -1px;
  text-align: center;
  color: #7B88A8;
}

.client-flex {
  display: flex;
  padding-top: 80px;
  padding-bottom: 100px;
  gap: 30px;
  text-align: center;
}
@media (max-width: 768px) {
  .client-flex {
    flex-wrap: wrap;
    min-width: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 991px) {
  .client-flex {
    flex-wrap: wrap;
    padding-left: 0px;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1200px) {
  .client-flex {
    padding-left: 0px;
  }
}
.client-flex .client-box {
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0px 20px 50px 0px rgba(79, 119, 255, 0.2);
  text-align: -webkit-center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.client-flex .client-box:hover {
  scale: 0.9;
}
.client-flex .client-box__img {
  padding-bottom: 10px;
}
.client-flex .client-box__position {
  padding-bottom: 20px;
  color: var(--text-text, #7B88A8);
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6; /* 162.5% */
}
.client-flex .client-box__title {
  padding-bottom: 25px;
  color: var(--text-heading, #2D3958);
  text-align: center;
  font-family: Outfit;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5; /* 155.556% */
  letter-spacing: 0.4px;
}
.client-flex .client-box__discription {
  color: var(--text-text, #7B88A8);
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5; /* 155.556% */
  letter-spacing: -0.3px;
}
.client-flex .client-box {
  padding: 35px;
  border-radius: 20px;
  border: 1px solid var(--lines-gray-line, #E7E5EA);
  background: var(--color-5, #FFF);
}
.client-flex .client-flex__thomas {
  display: none;
  border-radius: 20px;
  border: 1px solid var(--lines-gray-line, #E7E5EA);
  background: var(--color-5, #FFF);
  opacity: 0.4;
}
.client-flex .position {
  color: #7B88A8;
}
.client-flex .img__thomas {
  max-width: 70px;
}

.company-right__box {
  border-bottom: 1px solid #E7E5EA;
  padding-bottom: 6px;
}
@media (max-width: 1200px) {
  .company-right__box {
    gap: 10px;
  }
}

.text-center {
  margin-bottom: 90px;
  text-align: center;
}

.text-center__title {
  margin-bottom: 30px;
  font-family: Outfit;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -2px;
  color: #2D3958;
  text-align: center;
}
@media (max-width: 991px) {
  .text-center__title {
    font-size: 50px;
  }
}

.text-center__discription {
  color: var(--text-text, #7B88A8);
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.55; /* 155.556% */
  letter-spacing: -0.3px;
  color: var(--text-text, #7B88A8);
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.3px;
}

.experience__content {
  padding-top: 30px;
  padding-bottom: 50px;
  color: var(--black-200, #788190);
  font-feature-settings: "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.3px;
}

.experience__arrow {
  padding-left: 10px;
  display: -webkit-inline-box;
}

.experience__what {
  color: var(--action-purple, #886CFF);
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

.experience-box {
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  padding: 45px;
  background-color: #FFF;
  min-height: 270px;
  box-shadow: 0px 20px 50px 0px rgba(79, 119, 255, 0.2);
  max-width: 270px;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.experience-box:hover {
  scale: 0.9;
}

.experience__video {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.experience__video:hover {
  scale: 0.9;
}

.experience-box__content {
  text-align: center;
}

.experience-box--blue {
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  padding: 45px;
  background-color: #FFF;
  min-height: 270px;
  box-shadow: 0px 20px 50px 0px rgba(79, 119, 255, 0.2);
  max-width: 270px;
  justify-content: center;
}

.frame {
  background-image: url(/assets/img/BG__experience.png);
  margin-top: 90px;
  position: absolute;
  top: 0;
  background-position: center center;
  left: 0;
  background-position-y: center;
  height: 100%;
  background-repeat: no-repeat;
  width: 100%;
  z-index: -1;
}
@media (max-width: 991px) {
  .frame {
    display: none;
  }
}

.page-section--res {
  padding-bottom: 100px;
  position: relative;
}

.digital-grid {
  padding: 0 100px;
  border-bottom: 1px solid #E7E5EA;
}
@media (max-width: 1200px) {
  .digital-grid {
    padding: 0 50px;
  }
}
@media (max-width: 768px) {
  .digital-grid {
    padding: 0;
  }
}

.digital-grid__items2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-gap: 100px;
}
@media (max-width: 1200px) {
  .digital-grid__items2 {
    grid-gap: 30px;
  }
}
@media (max-width: 991px) {
  .digital-grid__items2 {
    grid-template-columns: 1fr;
  }
}

.item-grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 30px;
}
@media (max-width: 768px) {
  .item-grid1 {
    grid-template-columns: 1fr;
  }
}

.item-grid2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
}

.item-grid1__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img .item-grid1__left:first-child {
  grid-row: 1/span 2;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
img .experience:first-child {
  grid-row: 1/span 2;
}

.item-grid1__right {
  display: grid;
  gap: 30px;
  grid-template-rows: 1fr 1fr;
}
@media (max-width: 768px) {
  .item-grid1__right {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1100px) {
  .row-center {
    justify-content: center;
  }
}

@media (max-width: 991px) {
  .experience {
    text-align: center;
  }
}

.experience-box__title {
  color: var(--primary-color-black, #120F1F);
  text-align: center;
  font-family: Outfit;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.45; /* 145.455% */
  letter-spacing: -1px;
}

.experience-box__content {
  color: var(--text-text, #7B88A8);
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62; /* 162.5% */
}

.experience-box__content2 {
  text-align: center;
}

.experience__title {
  color: var(--text-heading, #2D3958);
  font-family: Outfit;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.277; /* 127.778% */
  letter-spacing: -1px;
  font-size: 36px;
  font-weight: 500;
  line-height: 1.27;
  letter-spacing: -1px;
  color: var(--text-heading);
}

.experience-box--blue {
  background: linear-gradient(224deg, #61DCDF 0%, #886CFF 100%);
  color: #fff;
}

.experience-box__title--white {
  color: #fff;
}

.experience-video--white {
  color: #fff;
}

.experience-video__what--white {
  color: #fff;
}

.col-style--top {
  position: absolute;
  top: -50px;
  right: 100px;
  transform: translateY(-70px);
}

.col-style--bot {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(20px);
}

.col-style--mid {
  position: absolute;
  right: 400px;
}

.col-style--text {
  position: relative;
  left: 100px;
}

.meet {
  padding-bottom: 100px;
}

.meet-wrap__header {
  text-align: center;
  padding-bottom: 90px;
}
@media (max-width: 768px) {
  .meet-wrap__header {
    font-size: 40px;
    padding-bottom: 100px;
  }
}

.meet-wrap__body {
  display: flex;
  gap: 30px;
  text-align: center;
}
@media (max-width: 768px) {
  .meet-wrap__body {
    display: contents;
  }
}
@media (max-width: 991px) {
  .meet-wrap__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.meet-body {
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #F8FAFC;
}
.meet-body:hover {
  scale: 0.9;
}

.meet-body__job {
  color: #7B88A8;
  padding-bottom: 30px;
}

.meet-body__img {
  padding-bottom: 25px;
}

.meet-body__images {
  padding-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
@media (max-width: 991px) {
  .meet-body__images {
    padding-bottom: 20px;
  }
}

.company-wrap__title {
  padding-top: 120px;
  text-align: center;
  padding-bottom: 90px;
}
@media (max-width: 768px) {
  .company-wrap__title {
    font-size: 40px;
  }
}

.company-right__title {
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
}
.company-right_date {
  color: var(--text-text, #7B88A8);
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: -0.3px;
}

.company-right_time {
  color: var(--text-text, #7B88A8);
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: -0.3px;
}

.company-right_icon {
  display: flex;
  gap: 10px;
  padding-top: 30px;
  padding-bottom: 25px;
}
@media (max-width: 768px) {
  .company-right_icon {
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .company-right_icon {
    justify-content: center;
  }
}

.company-box__discription {
  margin-top: 30px;
  color: #7B88A8;
}
@media (max-width: 991px) {
  .company-box__discription {
    max-width: 700px;
  }
}

.across {
  padding-bottom: 220px;
}

.across-wrap {
  padding-top: 120px;
}

.across-wrap__title {
  padding-bottom: 30px;
  text-align: center;
  font-family: Outfit;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -2px;
  color: #2D3958;
  text-align: center;
}
@media (max-width: 768px) {
  .across-wrap__title {
    font-size: 40px;
  }
}

.across-wrap__discription {
  text-align: center;
  color: #7B88A8;
}
@media (max-width: 768px) {
  .across-wrap__discription {
    font-size: 12px;
  }
}

.across-wrap__map {
  padding-top: 70px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.across-wrap__map:hover {
  scale: 0.9;
}
@media (max-width: 768px) {
  .across-wrap__map {
    max-width: 100%;
  }
}
@media (max-width: 991px) {
  .across-wrap__map {
    max-width: 100%;
  }
}

.revenue {
  background: #F8FAFC;
}

.revenue-wrap__discription {
  color: #7B88A8;
  padding-bottom: 77px;
}
@media (max-width: 768px) {
  .revenue-wrap__discription {
    font-size: 12px;
  }
}

.revenue-wrap__title {
  padding-top: 100px;
  padding-bottom: 30px;
}
@media (max-width: 768px) {
  .revenue-wrap__title {
    font-size: 36px;
  }
}

.revenue-wrap__button {
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 18px 32px;
  display: inline-block;
  border-radius: 5px;
  background-color: #292F3A;
  color: #fff;
  text-align: center;
}
.revenue-wrap__button:hover {
  color: var(--action-blue);
}

.revenue-wrap {
  text-align: center;
  padding-bottom: 100px;
}

.company-right_img {
  height: -moz-fit-content;
  height: fit-content;
  padding-top: 30px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.company-right_img:hover {
  scale: 0.9;
}

.company-right_item {
  flex-direction: column;
}

.company-box {
  padding-bottom: 25px;
  border-bottom: 1px solid #E7E5EA;
  gap: 20px;
}
@media (max-width: 1200px) {
  .company-box {
    justify-content: space-between;
  }
}
@media (max-width: 991px) {
  .company-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.project-box {
  gap: 30px;
}
@media (max-width: 768px) {
  .project-box {
    flex-wrap: wrap;
  }
}
@media (max-width: 991px) {
  .project-box {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.project-left {
  flex-direction: column;
  gap: 30px;
}

.project-box__right {
  flex-direction: column;
  gap: 30px;
}

.project-box__button {
  text-transform: uppercase;
  background-color: #F7F5F1;
  border-radius: 5px;
  padding: 13px 24px;
  justify-content: center;
  align-items: center;
  color: var(--text-text, #7B88A8);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  transition: all 0.3s ease;
  cursor: pointer;
}
.project-box__button:hover {
  opacity: 0.6;
}
@media (max-width: 768px) {
  .project-box__button {
    width: 150px;
    margin-left: 38%;
    padding: 18px 32px;
    display: inline-block;
    border-radius: 5px;
    background-color: #292F3A;
    color: #fff;
  }
}
@media (max-width: 575px) {
  .project-box__button {
    margin-left: 33%;
  }
}
@media (max-width: 329px) {
  .project-box__button {
    margin-left: 14%;
  }
}

.project-right__images {
  gap: 30px;
}
@media (max-width: 768px) {
  .project-right__images {
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 575px) {
  .project-right__images {
    flex-wrap: wrap;
  }
}

.project-right__img {
  gap: 30px;
  flex-direction: column;
}
@media (max-width: 768px) {
  .project-right__img {
    max-width: 28.3%;
  }
}
@media (max-width: 575px) {
  .project-right__img {
    max-width: 45%;
  }
}

.project-right__picture {
  transition: all 0.3s ease-in-out;
}
.project-right__picture:hover {
  scale: 0.9;
}

.blog-wrap {
  max-width: 835px;
  width: 100%;
  padding-top: 100px;
  display: flex;
  gap: 65px;
}
@media (max-width: 1200px) {
  .blog-wrap {
    gap: 10px;
  }
}
@media (max-width: 991px) {
  .blog-wrap {
    max-width: unset;
  }
}

.blog-wrap__left {
  width: 100%;
  min-width: 100%;
}
@media (max-width: 1100px) {
  .blog-wrap__left {
    margin-left: 103px;
  }
}
@media (max-width: 976px) {
  .blog-wrap__left {
    margin-left: unset;
  }
}

.blog-wrap__actor {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.blog-wrap__actor .actor-left {
  display: flex;
  gap: 5px;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.blog-wrap__actor .actor-left:hover {
  opacity: 0.7;
}
.blog-wrap__box {
  padding: 20px 40px 42px 40px;
}
@media (max-width: 500px) {
  .blog-wrap__box {
    padding: 10px;
  }
}

.blog-wrap__group {
  margin-bottom: 50px;
  border-radius: 5px;
  border: 1px solid var(--lines-gray-line, #E7E5EA);
  background: #FFF;
}
.blog-wrap__group .blog-wrap__title {
  padding-top: 39px;
  font-family: Outfit;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -1px;
  color: #2D3958;
}
@media (max-width: 768px) {
  .blog-wrap__group .blog-wrap__title {
    font-size: 25px;
  }
}
.blog-wrap__group .blog-wrap__discription {
  padding-bottom: 40px;
  padding-top: 30px;
  color: #7B88A8;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  max-width: 750px;
}
@media (max-width: 768px) {
  .blog-wrap__group .blog-wrap__discription {
    font-size: 13px;
  }
}
.blog-wrap__group .blog-wrap__button {
  display: inline-block;
  padding: 13px 24px;
  background-color: #4F77FF;
  color: #fff;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .blog-wrap__group .blog-wrap__button {
    font-size: 12px;
    padding: 10px 18px;
  }
}

.blog-wrap__img {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.blog-wrap__img:hover {
  opacity: 0.7;
}
@media (max-width: 991px) {
  .blog-wrap__img {
    max-width: 100%;
    width: 100%;
  }
}
.blog-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 1100px) {
  .blog-right {
    display: none;
  }
}

.bottom-wrap {
  background-image: url(/assets/img/BG-blog.png);
  margin-top: 200px;
  background-size: cover;
}
.bottom-wrap .bottom-wrap__discription {
  padding-top: 108px;
  padding-bottom: 30px;
  color: #7B88A8;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 145.455% */
  letter-spacing: -1px;
}
.bottom-wrap .bottom-wrap__title {
  font-family: Outfit;
  padding-bottom: 70px;
  color: #2D3958;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6; /* 116.667% */
  letter-spacing: -2px;
  max-width: 870px;
  margin: auto;
}
.bottom-wrap .blog-subscribe__button {
  padding: 13px 24px;
  background-color: #886CFF;
  color: #fff;
  border-radius: 5px;
}
.bottom-wrap .blog-right__title {
  padding-top: 20px;
  color: #2D3958;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 155.556% */
  letter-spacing: 0.4px;
}
.bottom-wrap .subcrible-box {
  padding-bottom: 68px;
  justify-content: center;
  gap: 5px;
}

.blog-right__email {
  color: var(--text-text, #7B88A8);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.62; /* 162.5% */
  padding-left: 19px;
  width: 210px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid var(--lines-gray-line, #E7E5EA);
  background: var(--bgbg-white, #FFF);
  position: relative;
}

.blog-right__icons {
  background-color: unset;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.blog-right__icons:hover {
  scale: 1.2;
}

.blog-right__title {
  padding-top: 20px;
  color: #2D3958;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 155.556% */
  letter-spacing: 0.4px;
}

.blog-right__box {
  padding-bottom: 30px;
  display: flex;
}

.button--purple {
  margin-left: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.button--purple:hover {
  scale: 1.2;
}

.blog-right__search {
  padding: 20px 30px;
}

.blog-right__new {
  padding-left: 30px;
  width: 270px;
  height: 354px;
  border-radius: 5px;
  background: var(--bgbg-light, #F8FAFC);
}

.blog-right__categories {
  padding-left: 30px;
  width: 270px;
  height: 146px;
  border-radius: 5px;
  background: var(--bgbg-light, #F8FAFC);
}

.blog-right__tags {
  padding-left: 30px;
  width: 270px;
  height: 209px;
  border-radius: 5px;
  background: var(--bgbg-light, #F8FAFC);
}
.blog-right__tags .blog-right__icon {
  margin-bottom: 5px;
  display: inline-block;
  background-color: #4F77FF;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 2; /* 200% */
  letter-spacing: -0.3px;
  font-family: "DM Sans";
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.blog-right__tags .blog-right__icon:hover {
  scale: 1.5;
}

.blog-right__archive {
  padding-left: 30px;
  width: 270px;
  height: 146px;
  border-radius: 5px;
  background: var(--bgbg-light, #F8FAFC);
}

.blog-right__subscribe {
  text-align: center;
  width: 270px;
  height: 400px;
  border-radius: 5px;
  opacity: 0.6999999881;
  background-image: url(/assets/img/BG-subscribe.png);
}
.blog-right__subscribe .blog-subscribe__title {
  padding-bottom: 40px;
  padding-top: 128px;
  max-width: 248px;
  text-align: center;
  color: #FFF;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -1px;
}

.blog-right__discription {
  padding-left: 20px;
  padding-right: 35px;
  color: #7B88A8;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7; /* 171.429% */
  letter-spacing: -0.3px;
}

.subcrible__btn {
  position: relative;
}
.subcrible__btn .blog-icon {
  position: absolute;
  top: 41px;
  left: 176px;
  width: 14px;
  height: 14px;
}

.single-wrap {
  display: flex;
  padding-top: 100px;
  gap: 65px;
}
@media (max-width: 1200px) {
  .single-wrap {
    gap: 10px;
  }
}

.single-wrap__item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #617798;
  padding-bottom: 10px;
}

.single-group__icon {
  background-color: #4F77FF;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 2; /* 200% */
  letter-spacing: -0.3px;
  font-family: "DM Sans";
}

.single-social {
  display: flex;
  gap: 10px;
}

.single-social__item {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.single-social__item:hover {
  scale: 1.2;
}

.single-relate__title {
  color: #2D3958;
  font-family: Outfit;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.4px;
}

.single-comments__title {
  color: #2D3958;
  font-family: Outfit;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.4px;
  padding-bottom: 30px;
}

.single-related-flex {
  display: flex;
}

.related-box__title {
  padding-top: 20px;
  padding-bottom: 53px;
  color: #2D3958;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.3px;
}

.related-box__images {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.related-box__images:hover {
  scale: 0.9;
}

.single-relate {
  margin: 50px 0;
  padding: 20px 40px;
  border-radius: 5px;
  background: var(--bgbg-light, #F8FAFC);
}
.single-comments__infomation {
  display: flex;
  gap: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(97, 119, 152, 0.2);
  padding-top: 20px;
}

.single-comments__date {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.single-title__item {
  display: flex;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.single-title__item:hover {
  opacity: 0.7;
}

.single-comments__time {
  color: var(--text-text, #7B88A8);
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7; /* 171.429% */
  letter-spacing: 0.4px;
}

.single-title__discription {
  color: var(--text-text, #7B88A8);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6; /* 162.5% */
  padding-bottom: 43px;
}

.single-write__title {
  padding-bottom: 30px;
  padding-top: 40px;
  color: var(--text-heading, #2D3958);
  font-family: Outfit;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.4px;
}

.single-write__box {
  gap: 20px;
}

.single-write__name {
  padding-left: 17.5px;
  color: #7B88A8;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  width: 100%;
  height: 48px;
  border-radius: 5px;
  border: 1px solid var(--lines-gray-line, #E7E5EA);
  background: var(--bgbg-white, #FFF);
}
@media (max-width: 768px) {
  .single-write__name {
    width: 100%;
  }
}

.single-write__comment {
  resize: vertical;
  padding-top: 11px;
  padding-left: 16px;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 100%;
  height: 170px;
  color: #7B88A8;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  border-radius: 5px;
  border: 1px solid var(--lines-gray-line, #E7E5EA);
  background: var(--bgbg-white, #FFF);
  color: var(--text-text, #7B88A8);
  font-feature-settings: "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
@media (max-width: 768px) {
  .single-write__comment {
    width: 100%;
  }
}
.single-comments {
  border: 1px solid #617798;
  padding: 42px 30px;
  border: 1px solid var(--lines-hr-line, rgba(97, 119, 152, 0.2));
  background: var(--bgbg-white, #FFF);
}

.single-title__items {
  color: #4F77FF;
}

.single-wrap__title {
  padding: 40px;
  text-align: center;
}
@media (max-width: 768px) {
  .single-wrap__title {
    font-size: 32px;
  }
}

.single-wrap__bold {
  color: var(--text-heading, #2D3958);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.62; /* 162.5% */
}

.single-wrap__text {
  margin-bottom: 40px;
  text-align: center;
  height: 170px;
  border-radius: 5px;
  background: var(--bgbg-light, #F8FAFC);
  padding-bottom: 50px;
  color: var(--text-heading, #2D3958);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5; /* 155.556% */
  letter-spacing: 1.5px;
}
@media (max-width: 768px) {
  .single-wrap__text {
    font-size: 16px;
    padding-bottom: 0;
  }
}

.single-wrap__discription {
  color: var(--text-text, #7B88A8);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6; /* 162.5% */
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  .single-wrap__discription {
    font-size: 16px;
    padding-bottom: 0;
  }
}

@media (max-width: 768px) {
  .single-wrap__left {
    max-width: 100%;
  }
}
.single-wrap__img {
  width: 100%;
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  .single-wrap__img {
    max-width: 100%;
  }
}
@media (max-width: 991px) {
  .single-wrap__img {
    max-width: 100%;
  }
}

@media (max-width: 1200px) {
  .page-shop__left {
    display: none;
  }
}

.shop-wrap__right {
  max-width: 100%;
  width: 100%;
}

.shop-wrap__title {
  color: var(--text-heading, #2D3958);
  font-family: Outfit;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.55; /* 155.556% */
  letter-spacing: 0.4px;
}

.shop-wrap__option {
  width: 210px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid var(--lines-gray-line, #E7E5EA);
  background: var(--bgbg-white, #FFF);
  color: var(--text-text, #7B88A8);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.62; /* 162.5% */
}

.paging__items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--text-text, #7B88A8);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7; /* 171.429% */
  letter-spacing: -0.3px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.paging__items:hover {
  border-radius: 5px;
  width: 50px;
  height: 50px;
  background-color: #4F77FF;
}
.paging__items :hover {
  border-radius: 5px;
  background: var(--action-blue, #4F77FF);
  width: 25px;
  height: 25px;
}

.paging {
  display: flex;
  gap: 46px;
  justify-content: center;
  align-items: center;
}
@media (max-width: 400px) {
  .paging {
    gap: 35px;
  }
}
@media (max-width: 300px) {
  .paging {
    gap: 25px;
  }
}

.shop-wrap__line {
  margin: 40px 0;
  width: 870px;
  height: 1px;
  background: var(--lines-gray-line, #E7E5EA);
}

.page-wrap {
  display: flex;
  margin-top: 100px;
  gap: 114px;
}
@media (max-width: 768px) {
  .page-wrap {
    flex-wrap: wrap;
  }
}
@media (max-width: 991px) {
  .page-wrap {
    justify-content: center;
  }
}

.shop-product__line {
  display: flex;
  text-align: center;
  gap: 30px;
}
@media (max-width: 768px) {
  .shop-product__line {
    gap: 0;
  }
}

.shop-wrap__title {
  padding: 15px 0;
  padding: 15px 0;
  text-align: center;
  color: var(--text-heading, #2D3958);
  font-family: Outfit;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.4px;
}

.single-wrap__img {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.single-wrap__img:hover {
  opacity: 0.7;
}

.shop-items__picture {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.shop-items__picture:hover {
  scale: 1.2;
}

.shop-right__select {
  padding-left: 18px;
  width: 210px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid var(--lines-gray-line, #E7E5EA);
  background: var(--bgbg-white, #FFF);
  color: var(--text-text, #7B88A8);
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.62; /* 162.5% */
}

.shop-right__devices {
  border-bottom: 1px solid #E7E5EA;
  padding-bottom: 10px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.shop-right__devices .shop-wrap__icons {
  position: absolute;
  top: 17px;
  left: 851px;
}
@media (max-width: 768px) {
  .shop-right__devices {
    justify-content: flex-start;
    gap: 10px;
  }
}
@media (max-width: 1200px) {
  .shop-right__devices {
    display: none;
  }
}

.page-shop__cost {
  padding-top: 20px;
  text-align: center;
  align-items: center;
  justify-content: space-between;
}

.page-shop__title {
  height: 52px;
  color: #2D3958;
  font-family: Outfit;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5; /* 155.556% */
  letter-spacing: 0.4px;
}

.page-shop__category {
  border-bottom: 1px solid #E7E5EA;
  position: relative;
}
.page-shop__category .shop-wrap__icons {
  position: absolute;
  top: 9px;
  left: 167px;
}

.page-shop__apps {
  padding-top: 25px;
  display: flex;
  flex-direction: column;
}

.checkbox__small {
  color: var(--text-text, #7B88A8);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: -0.3px;
  padding-bottom: 16px;
  margin-left: 25px;
}

.checkbox {
  color: var(--text-text, #7B88A8);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: -0.3px;
  padding-bottom: 16px;
}

.checkbox__input {
  height: 15px;
  width: 15px;
  background-color: #e7e5ea;
}

.page-apps {
  color: var(--text-text, #7B88A8);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: -0.3px;
  padding-left: 15px;
}

.page-app {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 16px;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: -0.3px;
}

.page-shop__box {
  padding-bottom: 16px;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: -0.3px;
}

.page-line__cost {
  justify-content: space-between;
  padding-top: 20px;
}

.page-shop__br {
  color: var(--text-text, #7B88A8);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71; /* 171.429% */
  letter-spacing: -0.3px;
}

.page-shop__brand {
  padding-top: 51px;
  border-bottom: 1px solid #E7E5EA;
  margin-bottom: 20px;
  position: relative;
}
.page-shop__brand .shop-wrap__icons {
  position: absolute;
  top: 59px;
  left: 156px;
}

.page-shop__price {
  padding-top: 51px;
  color: var(--text-text, #888682);
  font-size: 10px;
  font-weight: 500;
  line-height: 1.72; /* 171.429% */
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

.page-shop__text {
  color: var(--text-text, #888682);
  font-family: Outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.71; /* 171.429% */
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

.page-shop__filter {
  color: var(--action-blue, #4F77FF);
  text-align: right;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.71; /* 171.429% */
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

.page-shop__price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #E7E5EA;
  position: relative;
  margin-bottom: 25px;
}
.page-shop__price .shop-wrap__icons {
  position: absolute;
  top: 9px;
  left: 174px;
}

.product-wrap {
  gap: 130px;
  margin-top: 100px;
}
@media (max-width: 768px) {
  .product-wrap {
    gap: 10px;
    flex-wrap: wrap;
  }
}
@media (max-width: 991px) {
  .product-wrap {
    gap: 20%;
  }
}

.product-wrap__number {
  display: flex;
  align-items: center;
  border-radius: 4px;
  overflow: hidden;
}

.product-number {
  width: 40px;
  padding: 3px;
  text-align: center;
  border: none;
}

.product-wrap__button {
  width: 30px;
  height: 30px;
  border: none;
  background-color: #f1f1f1;
  cursor: pointer;
  font-weight: bold;
}

.increment {
  border-left: 1px solid #ccc;
}

.decrement {
  border-right: 1px solid #ccc;
}

.product-wrap__input {
  display: flex;
  gap: 10px;
  align-items: baseline;
}

.product-wrap__text {
  padding: 32px 0;
  position: relative;
  color: #2D3958;
  font-family: Outfit;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5; /* 155.556% */
  letter-spacing: 0.4px;
}

.active::before {
  content: "";
  position: absolute;
  top: -10px;
  left: calc(50% - 5px);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #34c635;
}

.activered::before {
  content: "";
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  background-color: #EF3737;
  border-radius: 50%;
  top: 2px;
  left: 50%;
}

.product-wrap__title {
  color: var(--text-heading, #2D3958);
  font-feature-settings: "clig" off, "liga" off;
  /* Headline/Headline 1 */
  font-family: Outfit;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.9; /* 119.048% */
  letter-spacing: -0.84px;
}

.product-wrap__price {
  color: var(--text-text, #7B88A8);
  font-feature-settings: "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5; /* 155.556% */
  letter-spacing: -0.3px;
}

.product-wrap__img {
  padding-top: 40px;
  padding-bottom: 20px;
}

.product-wrap__left {
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  width: 100%;
}

.product-wrap__header {
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  gap: 30px;
}
@media (max-width: 858px) {
  .product-wrap__header {
    gap: unset;
  }
}
@media (max-width: 400px) {
  .product-wrap__header {
    display: none;
  }
}

.product-left__img {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 100%;
  max-width: 100%;
  padding-bottom: 30px;
}
.product-left__img:hover {
  scale: 1.2;
}

.product-wrap__description {
  padding-top: 20px;
  color: var(--text-text, #7B88A8);
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6; /* 162.5% */
}
@media (max-width: 991px) {
  .product-wrap__description {
    width: 360px;
  }
}

.product-wrap__colors {
  display: flex;
  gap: 10px;
  padding-bottom: 40px;
}

.product-wrap__icon {
  display: flex;
  gap: 25px;
}

.product-midle {
  padding-top: 100px;
}

.product-wrap__draw {
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.product-wrap__draw:hover {
  scale: 1.2;
}

.product-wrap__icons {
  padding-top: 15px;
  padding-bottom: 31px;
  gap: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.product-wrap__icons:hover {
  scale: 1.2;
}

.product-wrap__note {
  justify-content: center;
  border-bottom: 1px solid #E7E5EA;
  border-top: 1px solid #E7E5EA;
  align-items: center;
  gap: 20px;
  height: 54px;
  text-align: center;
}
@media (max-width: 991px) {
  .product-wrap__note {
    width: 400px;
  }
}

.product-midle__reviews {
  padding-bottom: 30px;
  text-align: center;
  justify-content: center;
  gap: 40px;
}

.product-midle__text {
  position: relative;
  cursor: pointer;
}
@media (max-width: 534px) {
  .product-midle__text {
    font-size: 13px;
  }
}

.product-middle__right {
  width: 570px;
  height: 69px;
  color: var(--text-text, #7B88A8);
  font-feature-settings: "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6; /* 162.5% */
}

.product-middle__inf {
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #E7E5EA;
  border-top: 1px solid #E7E5EA;
  padding-bottom: 60px;
  padding-top: 40px;
}
@media (max-width: 768px) {
  .product-middle__inf {
    flex-wrap: wrap;
    justify-content: center;
    gap: 34px;
  }
}
@media (max-width: 534px) {
  .product-middle__inf {
    font-size: 11px;
  }
}

.product-midle__wrap {
  padding-top: 40px;
  padding-bottom: 100px;
}

.product-bottom__images {
  gap: 30px;
  padding-top: 80px;
}
@media (max-width: 768px) {
  .product-bottom__images {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .product-bottom__images {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.product-bottom__images .shop-wrap__title {
  color: var(--text-heading, #2D3958);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6; /* 155.556% */
  letter-spacing: 0.4px;
}

.shop-wrap__items {
  display: flex;
  flex-direction: column;
}

.shop-wrap__price {
  color: var(--text-text, #7B88A8);
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.download {
  background-image: url(/assets/img/bg\ product.png);
  background-size: cover;
}

.download-wrap {
  margin-top: 120px;
  text-align: center;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.download-wrap__button {
  padding: 18px 32px;
  display: inline-block;
  border-radius: 5px;
  background-color: #4F77FF;
  color: #fff;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.download-wrap__button:hover {
  scale: 0.9;
}

.download-wrap__title {
  max-width: 970px;
  padding-top: 100px;
  text-align: center;
}

.download-wrap__discription {
  padding-top: 30px;
  padding-bottom: 80px;
  color: var(--text-text, #7B88A8);
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.55; /* 145.455% */
  letter-spacing: -1px;
}

.work-title {
  padding-top: 120px;
  padding-bottom: 90px;
}

.work-wrap {
  gap: 30px;
  padding: 0 30px;
}
@media (max-width: 768px) {
  .work-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .work-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 1200px) {
  .work-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.work-wrap__col {
  flex-direction: column;
  gap: 30px;
}

.work-wrap__picture {
  transition: all 0.3s ease-in-out;
}
.work-wrap__picture:hover {
  scale: 0.9;
}

.work-button__btn {
  color: #7B88A8;
  display: inline-flex;
  height: 55.941px;
  padding: 18px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #E7E5EA;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.work-button__btn:hover {
  scale: 0.9;
}

.work-button {
  text-align: center;
  padding-top: 70px;
}

.recent {
  padding-top: 120px;
  padding-bottom: 240px;
}

.recent-wrap__header {
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.recent-wrap__images {
  padding-top: 35px;
  gap: 30px;
}
@media (max-width: 768px) {
  .recent-wrap__images {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .recent-wrap__images {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 1200px) {
  .recent-wrap__images {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.company--p120 {
  padding-bottom: 120px;
  background-color: #F8FAFC;
}

.recent-wrap__box {
  display: flex;
  flex-direction: column;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.recent-wrap__box:hover {
  scale: 0.9;
}

.recent-wrap__sizing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recent-tip {
  position: absolute;
  top: 60px;
}

.recent-tip__title {
  text-align: center;
  color: var(--text-text-white, #FFF);
  font-family: Outfit;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5; /* 145.455% */
  letter-spacing: -1px;
}

.recent-tip__discription {
  color: var(--text-text-gray, #E7E5EA);
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6; /* 155.556% */
  letter-spacing: -0.3px;
}

.navigation-list__items {
  text-transform: uppercase;
}

.shop-wrap__devices {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--lines-gray-line, #E7E5EA);
  justify-content: space-between;
}

.shop-wrap__box {
  padding-left: 19px;
  width: 210px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid var(--lines-gray-line, #E7E5EA);
  background: var(--bgbg-white, #FFF);
}

.blog-right__search {
  width: 270px;
  border-radius: 5px;
  background: var(--bgbg-light, #F8FAFC);
  margin-bottom: 30px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.container--right {
  max-width: 1920px;
  margin-right: 0;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--grid-col-gap-vertical) / -2);
  margin-right: calc(var(--grid-col-gap-vertical) / -2);
}

.col {
  width: calc(var(--col-xs) / var(--grid) * 100%);
  padding-left: calc(var(--grid-col-gap-vertical) / 2);
  padding-right: calc(var(--grid-col-gap-vertical) / 2);
  padding-top: var(--grid-col-gap-horizontal);
}

@media (min-width: 320px) {
  .col {
    width: calc(var(--col-xs) / var(--grid) * 100%);
  }
}
@media (min-width: 576px) {
  .col {
    width: calc(var(--col-sm) / var(--grid) * 100%);
  }
}
@media (min-width: 768px) {
  .col {
    width: calc(var(--col-md) / var(--grid) * 100%);
  }
}
@media (min-width: 992px) {
  .col {
    width: calc(var(--col-lg) / var(--grid) * 100%);
  }
}
@media (min-width: 1100px) {
  .col {
    width: calc(var(--col-lg) / var(--grid) * 100%);
  }
}
@media (min-width: 1200px) {
  .col {
    width: calc(var(--col-lg) / var(--grid) * 100%);
  }
}
@media (max-width: 1200px) {
  .col--flex {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */