body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-family: "DM Sans", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-word;
}

:root {
  --grid: 12;
  --grid-container-width: 1700px;
  --grid-container-gap: 15px;
  --grid-col-gap-vertical: 30px;
  --grid-col-gap-horizontal: 30px;
  --text-heading: #2D3958;
  --text-text:#7B88A8;
  --action-blue: #4F77FF;
  --bgbg-light:#F8FAFC;
  --text-dark-alt: #321370;
  --bgbg-white:#ffff;
  --action-purple: #886CFF;
  --action-blue: #4F77FF;
  --lines-gray-line: #E7E5EA;
  --action-green: #34C635;
  --bgbg-gray: #292F3A;
  --bgbg-gray: #292F3A;
  --text-text-gray:#E7E5EA;
}

a {
  text-decoration: none;
}

ul {
  padding: 0 0;
}

.wrapper {
  overflow: hidden;
}

h1 {
  font-family: Outfit;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -2px;
  color: #2D3958;
  text-align: center;
}

h2 {
  font-family: Outfit;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -2px;
  color: #2D3958;
}

h3 {
  font-family: Outfit;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.3; /* 127.778% */
  letter-spacing: -1px;
  color: #2D3958;
}

h4 {
  font-family: Outfit;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 145.455% */
  letter-spacing: -1px;
  color: #120F1F;
}

h5 {
  font-family: "DM Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6; /* 162.5% */
  color: #2D3958;
}

.d-flex {
  display: flex;
}

img {
  display: block;
  max-width: 100%;
}

.button {
  padding: 13px 24px;
  border-radius: 5px;
  color: #FFF;
  font-family: outfit;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  display: inline-block;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  .button {
    padding: 10px 20px;
    font-size: 12px;
    font-weight: 400;
  }
}

.button--blue {
  background-color: var(--action-blue);
}

.button--purple {
  background-color: var(--action-purple);
}

.button--gray {
  background-color: var(--text-text-gray);
  color: var(--text-text);
}

.icon-btn {
  transition: all 0.5s ease;
}

.subcrible__btn {
  justify-content: center;
  gap: 6px;
}
@media (max-width: 991px) {
  .icon-btn {
    flex-direction: column;
    align-items: center;
    position: fixed;
    width: 100%;
    display: block;
    left: 0;
    top: -100%;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    z-index: -1;
  }
  .icon-btn.show {
    left: 0;
    top: 40vh;
    z-index: -1;
  }
}
.container-footer {
  padding-top: 100px;
}

.page-footer {
  background-color: var(--bgbg-gray);
}

.footer-logo__icon {
  gap: 10px;
  align-items: center;
}

.footer-logo__item {
  color: #fff;
}

.footer-company__title {
  color: #fff;
  font-weight: 400;
  line-height: 1.45;
  letter-spacing: -1px;
  padding-bottom: 10px;
}
@media (max-width: 576px) {
  .footer-company__title {
    font-size: 14px;
  }
}

.footer-company__item {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7;
  letter-spacing: -0.3px;
  text-transform: uppercase;
  color: #E7E5EA;
  padding-top: 10px;
}
@media (max-width: 576px) {
  .footer-company__item {
    font-size: 12px;
  }
}

.footer-newsletter__title {
  font-size: 16px;
  font-weight: 400;
  color: #E7E5EA;
  line-height: 1.62; /* 162.5% */
  padding-bottom: 25px;
}

.subcrible__btn--fs {
  justify-content: flex-start;
}

.footer-bottom__content {
  color: #E7E5EA;
  font-weight: 400;
}

.footer-border {
  border: 1px solid var(--text-text);
  opacity: 0.3;
}

.footer-bottom {
  justify-content: space-between;
  padding: 27px 0;
  align-items: center;
}

.subcribe__content {
  font-size: 22px;
  letter-spacing: -1px;
}

@media (max-width: 768px) {
  .footer-company {
    --col-xs: 3;
    --col-lg: 2;
  }
}
@media (max-width: 991px) {
  .col {
    --col-xs: 12;
    --col-lg: 2;
  }
}

.header {
  background-image: url(/assets/img/BGmain.png);
}

.container__extra {
  max-width: 1920px;
  height: 500px;
}

.header-flex-extra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}

.navigation-list {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

.navigation-list__items a {
  position: relative;
}
.navigation-list__items a::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #34C635;
  position: absolute;
  left: 40%;
  top: -8px;
  border-radius: 50%;
  display: none;
}
.navigation-list__items:hover a::before {
  display: block;
}

.button-header {
  display: flex;
  gap: 30px;
  align-items: center;
}

.button-sign-in {
  padding: 13px 24px;
  background-color: #292F3A;
  color: #fff;
  border-radius: 5px;
}

.header-title-text {
  padding-top: 139px;
}

.header-title {
  text-align: center;
}

.header-discription {
  font-size: 15px;
  text-align: center;
  color: #7B88A8;
}

.header-flex__button {
  gap: 30px;
  align-items: center;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}

.header-bar {
  display: none;
  z-index: 99;
}
@media (max-width: 991px) {
  .header-bar {
    display: block;
  }
}

.navigation-list {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

@media (max-width: 991px) {
  .navigation-list--desktop {
    display: none;
  }
}

.navigation-list--mobile {
  display: none;
}
@media (max-width: 991px) {
  .navigation-list--mobile {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}

.navigation-list__items a {
  position: relative;
}
.navigation-list__items a::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #34C635;
  position: absolute;
  left: 40%;
  top: -8px;
  border-radius: 50%;
  display: none;
}
.navigation-list__items:hover a::before {
  display: block;
}

.button-header {
  display: flex;
  gap: 30px;
  align-items: center;
}
@media (max-width: 991px) {
  .button-header {
    position: fixed;
    justify-content: start;
    background-color: #fff;
    width: 80%;
    top: 0;
    height: 100vh;
    right: -80%;
    padding-top: 100px;
    flex-direction: column;
    gap: 45px;
    z-index: 99;
    transition: all 0.5s ease-out;
  }
}

.button-sign-in {
  padding: 13px 24px;
  background-color: #292F3A;
  color: #fff;
  border-radius: 5px;
}

.show-overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #333;
  z-index: 2;
  opacity: 0.5;
}

.show-menu {
  right: 0%;
  top: 0;
  overflow-y: scroll;
}

.object__wrap {
  padding-top: 100px;
}

.section-bg {
  background-image: url(/assets/img/banner1.jpg);
  background-repeat: no-repeat;
  background-size: 44% 100%;
  background-position: right;
}

@media (max-width: 768px) {
  .section-bg {
    background-image: none;
  }
}
@media (max-width: 991px) {
  .section-bg {
    background-image: none;
  }
}
@media (max-width: 1200px) {
  .section-bg {
    background-image: none;
  }
}
.banner {
  position: relative;
  background-color: #F8FAFC;
}

.banner-wrap {
  display: flex;
  align-items: center;
  min-height: calc(100vh - 88px);
}
@media (max-width: 768px) {
  .banner-wrap {
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .banner-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 1200px) {
  .banner-wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.banner__text {
  margin: auto 0;
  position: relative;
}

.banner-text__title {
  line-height: 78px;
  font-size: 72px;
  width: 570px;
  font-weight: 500;
  letter-spacing: -2px;
}
@media (max-width: 576px) {
  .banner-text__title {
    width: unset;
  }
}

.banner-text__description {
  color: #7B88A8;
  font-size: 18px;
  max-width: 500px;
  margin: 50px 0 70px 0;
}
@media (max-width: 991px) {
  .banner-text__description {
    text-align: center;
  }
}

.banner-text__button {
  display: flex;
  align-items: center;
  gap: 10px;
}
.banner-text__button .banner-text__play {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 20px rgba(18, 2, 47, 0.15);
}
@media (max-width: 768px) {
  .banner-text__button {
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .banner-text__button {
    justify-content: center;
  }
}

.banner-text__discover {
  padding: 18px 32px;
  background-color: #292F3A;
  color: #fff;
  border-radius: 5px;
  display: inline-block;
}

.banner-text__img {
  position: absolute;
  right: 0;
  height: 100%;
  width: 845px;
}
.banner-text__img img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
}

.banner-text__dot1, .banner-text__dot2 {
  position: absolute;
  height: 15%;
  -o-object-fit: cover;
     object-fit: cover;
}

.banner-text__dot1 {
  top: 124px;
  left: 106px;
}
@media (max-width: 768px) {
  .banner-text__dot1 {
    display: none;
  }
}

.banner-text__dot2 {
  top: 549px;
  left: 648px;
}
@media (max-width: 768px) {
  .banner-text__dot2 {
    display: none;
  }
}

.second-header {
  text-align: center;
}

.second-body {
  padding-top: 85px;
  display: flex;
}
@media (max-width: 1100px) {
  .second-body {
    flex-direction: column-reverse;
    padding-bottom: 250px;
  }
}
@media (max-width: 768px) {
  .second-body {
    flex-wrap: wrap;
    padding-bottom: 0;
  }
}

.second-header__title {
  padding-top: 120px;
  display: inline-block;
}

.second-header__description {
  max-width: 691px;
  margin: 0 auto;
  color: #7B88A8;
  letter-spacing: -0.3px;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
}

.second-body__left {
  position: relative;
  width: 100%;
  max-width: 100%;
}
@media (max-width: 768px) {
  .second-body__left {
    display: none;
    padding: 30px;
    transform: translate(81px, 10px);
  }
}
@media (max-width: 500px) {
  .second-body__left {
    padding: 30px;
    transform: translate(-7px, -50px);
  }
}

.second-body__before {
  position: absolute;
  top: 175px;
  left: -38px;
  z-index: 1;
}

.second-body__after {
  position: absolute;
  top: 35px;
  left: 154px;
}

.second-body__dot {
  position: absolute;
  top: 282px;
  left: 333px;
  z-index: -1;
}

.second-right__brand__icon {
  width: 70px;
  height: 70px;
  background-color: #292F3A;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.second-right__brand {
  display: flex;
  padding-top: 48px;
}

.second-right__brand__title {
  color: #7B88A8;
}

.second-right__description {
  max-width: 541px;
  color: #7B88A8;
}

.second-icon {
  padding: 100px;
  margin-top: 200px;
}
@media (max-width: 768px) {
  .second-icon {
    margin-top: 0px;
  }
}

.second-icon__logo {
  display: flex;
  gap: 100px;
  justify-content: center;
  padding-top: 90px;
}
@media (max-width: 768px) {
  .second-icon__logo {
    flex-wrap: wrap;
  }
}
@media (max-width: 991px) {
  .second-icon__logo {
    flex-wrap: wrap;
  }
}
.second-icon__logo .logo {
  justify-content: center;
  display: flex;
}

.second-icon__discription {
  padding-top: 25px;
  text-align: center;
  color: #7B88A8;
}

.object__wrap {
  display: flex;
  padding-top: 205px;
  position: relative;
}

.project-right__discription {
  padding-top: 24px;
  padding-bottom: 48px;
  color: #7B88A8;
}

.object__right {
  width: 335px;
}

@media (max-width: 768px) {
  .project-box__title {
    text-align: center;
  }
}
@media (max-width: 991px) {
  .project-box__title {
    text-align: center;
  }
}

.project-right__button {
  padding: 18px 32px;
  display: inline-block;
  border-radius: 5px;
  background-color: #292F3A;
  color: #fff;
}

.left__dot {
  position: absolute;
  top: 736px;
  left: 66px;
  opacity: 0.6;
}

.left__dot2 {
  position: absolute;
  top: 312px;
  left: 1271px;
}

.object__left {
  position: relative;
}
.object__left .left__img__card {
  position: absolute;
}
.object__left .left__img {
  position: absolute;
  top: 0px;
  left: 500px;
}
.object__left .left__img__tea {
  position: absolute;
  top: 430px;
  left: 0px;
}
.object__left .left__img__cover {
  position: absolute;
  top: 622px;
  left: 505px;
}

@media (max-width: 768px) {
  .client-wrap {
    padding: 100px 0px;
  }
}

.client-wrap__title {
  text-align: center;
}

.client-wrap__discription {
  text-align: center;
  color: #7B88A8;
}

.client-flex {
  display: flex;
  padding-top: 80px;
  gap: 30px;
  text-align: center;
}
@media (max-width: 768px) {
  .client-flex {
    flex-wrap: wrap;
    min-width: 0px;
    padding-left: 0px;
  }
}
@media (max-width: 991px) {
  .client-flex {
    flex-wrap: wrap;
    padding-left: 0px;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 1200px) {
  .client-flex {
    padding-left: 0px;
  }
}
.client-flex .client-flex__box {
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0px 20px 50px 0px rgba(79, 119, 255, 0.2);
  text-align: -webkit-center;
}
.client-flex .client-img {
  padding-bottom: 10px;
}
.client-flex .client-position {
  padding-bottom: 20px;
  color: var(--text-text, #7B88A8);
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6; /* 162.5% */
}
.client-flex .client-title {
  padding-bottom: 25px;
  color: var(--text-heading, #2D3958);
  text-align: center;
  font-family: Outfit;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5; /* 155.556% */
  letter-spacing: 0.4px;
}
.client-flex .client-discription {
  color: var(--text-text, #7B88A8);
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5; /* 155.556% */
  letter-spacing: -0.3px;
}
.client-flex .client-flex__box {
  padding: 35px;
  border-radius: 20px;
  border: 1px solid var(--lines-gray-line, #E7E5EA);
  background: var(--color-5, #FFF);
}
.client-flex .client-flex__thomas {
  display: none;
  border-radius: 20px;
  border: 1px solid var(--lines-gray-line, #E7E5EA);
  background: var(--color-5, #FFF);
  opacity: 0.4;
}
.client-flex .position {
  color: #7B88A8;
}
.client-flex .img__thomas {
  max-width: 70px;
}

.digital-grid__items1 {
  margin-bottom: 90px;
  text-align: center;
}

.items1__discription {
  color: var(--text-text, #7B88A8);
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.3px;
}

.experience__content {
  padding-top: 30px;
  padding-bottom: 50px;
  color: var(--black-200, #788190);
  font-feature-settings: "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.3px;
}

.experience__arrow {
  padding-left: 10px;
  display: -webkit-inline-box;
}

.experience__what {
  color: var(--action-purple, #886CFF);
  text-align: right;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.6;
  letter-spacing: -0.3px;
  text-transform: uppercase;
}

.experience-box {
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  padding: 45px;
  background-color: #FFF;
  min-height: 270px;
  box-shadow: 0px 20px 50px 0px rgba(79, 119, 255, 0.2);
  max-width: 270px;
  justify-content: center;
}

.experience-box__content {
  text-align: center;
}

.experience-box--blue {
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 20px;
  padding: 45px;
  background-color: #FFF;
  min-height: 270px;
  box-shadow: 0px 20px 50px 0px rgba(79, 119, 255, 0.2);
  max-width: 270px;
  justify-content: center;
}

.frame {
  background-image: url(/assets/img/BG__experience.png);
  margin-top: 90px;
  position: absolute;
  top: 0;
  background-position: center center;
  left: 0;
  background-position-y: center;
  height: 100%;
  background-repeat: no-repeat;
  width: 100%;
  z-index: -1;
}
@media (max-width: 991px) {
  .frame {
    display: none;
  }
}

.page-section--res {
  position: relative;
}

.digital-grid {
  padding: 0 100px;
}
@media (max-width: 1200px) {
  .digital-grid {
    padding: 0 50px;
  }
}
@media (max-width: 768px) {
  .digital-grid {
    padding: 0;
  }
}

.digital-grid__items2 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  grid-gap: 100px;
}
@media (max-width: 1200px) {
  .digital-grid__items2 {
    grid-gap: 30px;
  }
}
@media (max-width: 991px) {
  .digital-grid__items2 {
    grid-template-columns: 1fr;
  }
}

.item-grid1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 30px;
}
@media (max-width: 768px) {
  .item-grid1 {
    grid-template-columns: 1fr;
  }
}

.item-grid2 {
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-gap: 30px;
}

.item-grid1__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
img .item-grid1__left:first-child {
  grid-row: 1/span 2;
}

.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
img .experience:first-child {
  grid-row: 1/span 2;
}

.item-grid1__right {
  display: grid;
  gap: 30px;
  grid-template-rows: 1fr 1fr;
}
@media (max-width: 768px) {
  .item-grid1__right {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 1100px) {
  .row-center {
    justify-content: center;
  }
}

@media (max-width: 991px) {
  .experience {
    text-align: center;
  }
}

.experience__title {
  font-size: 36px;
  font-weight: 500;
  line-height: 1.27;
  letter-spacing: -1px;
  color: var(--text-heading);
}

.experience-box--blue {
  background: linear-gradient(224deg, #61DCDF 0%, #886CFF 100%);
  color: #fff;
}

.experience-box__title--white {
  color: #fff;
}

.experience-video--white {
  color: #fff;
}

.experience-video__what--white {
  color: #fff;
}

.col-style--top {
  position: absolute;
  top: -50px;
  right: 100px;
  transform: translateY(-70px);
}

.col-style--bot {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(20px);
}

.col-style--mid {
  position: absolute;
  right: 400px;
}

.col-style--text {
  position: relative;
  left: 100px;
}

.meet {
  padding-bottom: 100px;
}

.meet-wrap__header {
  text-align: center;
  padding-top: 100px;
}
@media (max-width: 768px) {
  .meet-wrap__header {
    font-size: 40px;
    padding-bottom: 100px;
  }
}

.meet-wrap__body {
  display: flex;
  gap: 30px;
  text-align: center;
}
@media (max-width: 768px) {
  .meet-wrap__body {
    display: contents;
  }
}
@media (max-width: 991px) {
  .meet-wrap__body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.meet-body__job {
  color: #7B88A8;
  padding-bottom: 30px;
}

.meet-body__img {
  padding-bottom: 25px;
}

.meet-body__images {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}
@media (max-width: 991px) {
  .meet-body__images {
    padding-bottom: 20px;
  }
}

.company-wrap__title {
  text-align: center;
  padding-bottom: 90px;
}
@media (max-width: 768px) {
  .company-wrap__title {
    font-size: 40px;
  }
}

.company-box__icon {
  display: flex;
  gap: 10px;
}

.company-box__discription {
  margin-top: 30px;
  margin-bottom: 25px;
  color: #7B88A8;
  max-width: 328px;
}
@media (max-width: 991px) {
  .company-box__discription {
    max-width: 700px;
  }
}

.across {
  padding-bottom: 220px;
}

.across-wrap {
  padding-top: 240px;
}

.across-wrap__title {
  text-align: center;
}
@media (max-width: 768px) {
  .across-wrap__title {
    font-size: 40px;
  }
}

.across-wrap__discription {
  text-align: center;
  color: #7B88A8;
}
@media (max-width: 768px) {
  .across-wrap__discription {
    font-size: 12px;
  }
}

.across-wrap__map {
  padding-top: 70px;
}
@media (max-width: 768px) {
  .across-wrap__map {
    max-width: 100%;
  }
}
@media (max-width: 991px) {
  .across-wrap__map {
    max-width: 100%;
  }
}

.revenue-wrap__discription {
  color: #7B88A8;
  padding-bottom: 77px;
}
@media (max-width: 768px) {
  .revenue-wrap__discription {
    font-size: 12px;
  }
}

.revenue-wrap__title {
  padding-bottom: 30px;
}
@media (max-width: 768px) {
  .revenue-wrap__title {
    font-size: 36px;
  }
}

.revenue-wrap__button {
  padding: 18px 32px;
  display: inline-block;
  border-radius: 5px;
  background-color: #292F3A;
  color: #fff;
  text-align: center;
}

.revenue-wrap {
  text-align: center;
  padding-bottom: 100px;
}

.company-box__img {
  height: -moz-fit-content;
  height: fit-content;
}

.company-wrap__item {
  flex-direction: column;
}

.company-flex__box {
  padding-bottom: 25px;
  border-bottom: 1px solid #E7E5EA;
  gap: 20px;
}
@media (max-width: 1200px) {
  .company-flex__box {
    justify-content: space-between;
  }
}
@media (max-width: 768px) {
  .company-flex__box {
    text-align: -webkit-center;
  }
}
@media (max-width: 991px) {
  .company-flex__box {
    justify-content: space-between;
    text-align: center;
  }
}

.company-box__icon {
  padding-top: 30px;
}
@media (max-width: 768px) {
  .company-box__icon {
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .company-box__icon {
    justify-content: center;
  }
}

.project-box {
  gap: 30px;
}
@media (max-width: 768px) {
  .project-box {
    flex-wrap: wrap;
  }
}
@media (max-width: 991px) {
  .project-box {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.project-box__left {
  flex-direction: column;
  gap: 30px;
}

.project-box__right {
  flex-direction: column;
  gap: 30px;
}

.project-box__button {
  text-transform: uppercase;
  background-color: #F7F5F1;
  border-radius: 5px;
  padding: 13px 24px;
  justify-content: center;
  align-items: center;
  color: var(--text-text, #7B88A8);
  text-align: center;
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 768px) {
  .project-box__button {
    width: 150px;
    margin-left: 290px;
    padding: 18px 32px;
    display: inline-block;
    border-radius: 5px;
    background-color: #292F3A;
    color: #fff;
  }
}
@media (max-width: 575px) {
  .project-box__button {
    margin-left: 208px;
  }
}

.project-right {
  gap: 30px;
}
@media (max-width: 768px) {
  .project-right {
    padding: 60px;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 575px) {
  .project-right {
    flex-wrap: wrap;
  }
}

.project-right__img {
  gap: 30px;
  flex-direction: column;
}
@media (max-width: 768px) {
  .project-right__img {
    max-width: 28.3%;
  }
}
@media (max-width: 575px) {
  .project-right__img {
    max-width: 45%;
  }
}

.blog__wrap {
  max-width: 835px;
  width: 100%;
  padding-top: 100px;
  display: flex;
  gap: 65px;
}
@media (max-width: 1200px) {
  .blog__wrap {
    gap: 10px;
  }
}
@media (max-width: 991px) {
  .blog__wrap {
    max-width: unset;
  }
}

.blog-wrap__left {
  width: 100%;
  min-width: 100%;
}
@media (max-width: 768px) {
  .blog-wrap__left {
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .blog-wrap__left {
    justify-content: center;
  }
}

.blog-left__actor {
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}
.blog-left__actor .actor__left {
  display: flex;
  gap: 5px;
  align-items: center;
  text-transform: uppercase;
}
.blog-left__box {
  padding: 20px 40px 42px 40px;
}
@media (max-width: 500px) {
  .blog-left__box {
    padding: 10px;
  }
}

.blog-left__group {
  margin-bottom: 50px;
  border-radius: 5px;
  border: 1px solid var(--lines-gray-line, #E7E5EA);
  background: #FFF;
}
.blog-left__group .blog-left__title {
  font-family: Outfit;
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: -1px;
  color: #2D3958;
}
@media (max-width: 768px) {
  .blog-left__group .blog-left__title {
    font-size: 25px;
  }
}
.blog-left__group .blog-left__discription {
  padding-bottom: 40px;
  padding-top: 30px;
  color: #7B88A8;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  max-width: 750px;
}
@media (max-width: 768px) {
  .blog-left__group .blog-left__discription {
    font-size: 13px;
  }
}
.blog-left__group .blog-left__button {
  display: inline-block;
  padding: 13px 24px;
  background-color: #4F77FF;
  color: #fff;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .blog-left__group .blog-left__button {
    font-size: 12px;
    padding: 10px 18px;
  }
}

@media (max-width: 991px) {
  .blog-left__img {
    max-width: 100%;
    width: 100%;
  }
}
.blog-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 768px) {
  .blog-right {
    display: none;
  }
}
@media (max-width: 991px) {
  .blog-right {
    display: none;
  }
}

.bottom__wrap {
  background-image: url(/assets/img/BG-blog.png);
  margin-top: 200px;
}
.bottom__wrap .bottom-wrap__discription {
  padding-top: 108px;
  padding-bottom: 30px;
  color: #7B88A8;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5; /* 145.455% */
  letter-spacing: -1px;
}
.bottom__wrap .bottom-wrap__title {
  padding-bottom: 70px;
  color: #2D3958;
  text-align: center;
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.6; /* 116.667% */
  letter-spacing: -2px;
  max-width: 870px;
  margin: auto;
}
.bottom__wrap .blog-subscribe__button {
  padding: 13px 24px;
  background-color: #886CFF;
  color: #fff;
  border-radius: 5px;
}
.bottom__wrap .blog-right__title {
  color: #2D3958;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 155.556% */
  letter-spacing: 0.4px;
}
.bottom__wrap .subcrible__box {
  padding-bottom: 68px;
  justify-content: center;
}

.blog-right__box {
  padding-bottom: 30px;
  display: flex;
}

.blog-right__title {
  padding-top: 20px;
  padding-bottom: 28px;
}

.button--purple {
  margin-left: 6px;
}

.blog-right__search {
  padding: 20px 30px;
}

.blog-right__new {
  padding-left: 30px;
  width: 270px;
  height: 354px;
  border-radius: 5px;
  background: var(--bgbg-light, #F8FAFC);
}

.blog-right__categories {
  padding-left: 30px;
  width: 270px;
  height: 146px;
  border-radius: 5px;
  background: var(--bgbg-light, #F8FAFC);
}

.blog-right__tags {
  padding-left: 30px;
  width: 270px;
  height: 209px;
  border-radius: 5px;
  background: var(--bgbg-light, #F8FAFC);
}
.blog-right__tags .blog-right__icon {
  background-color: #4F77FF;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 2; /* 200% */
  letter-spacing: -0.3px;
  font-family: "DM Sans";
}

.blog-right__archive {
  padding-left: 30px;
  width: 270px;
  height: 146px;
  border-radius: 5px;
  background: var(--bgbg-light, #F8FAFC);
}

.blog-right__subscribe {
  text-align: center;
  width: 270px;
  height: 400px;
  border-radius: 5px;
  opacity: 0.6999999881;
  background-image: url(/assets/img/BG-subscribe.png);
}
.blog-right__subscribe .blog-subscribe__title {
  padding-bottom: 40px;
  padding-top: 128px;
  max-width: 248px;
  text-align: center;
  color: #FFF;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -1px;
}

.blog-right__discription {
  padding-left: 20px;
  padding-right: 35px;
  color: #7B88A8;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7; /* 171.429% */
  letter-spacing: -0.3px;
}

.subcrible__btn {
  position: relative;
}
.subcrible__btn .blog-icon {
  position: absolute;
  top: 17px;
  left: 176px;
  width: 14px;
  height: 14px;
}

.single-wrap {
  display: flex;
  padding-top: 100px;
  gap: 65px;
}
@media (max-width: 1200px) {
  .single-wrap {
    gap: 10px;
  }
}

.single-group__item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #617798;
  padding-bottom: 10px;
}

.single-item__icon {
  background-color: #4F77FF;
  border-radius: 5px;
  padding-left: 5px;
  padding-right: 5px;
  color: #FFF;
  text-align: center;
  font-size: 12px;
  font-weight: 400;
  line-height: 2; /* 200% */
  letter-spacing: -0.3px;
  font-family: "DM Sans";
}

.single-item__right {
  display: flex;
  gap: 10px;
}

.single-comments__title {
  border-bottom: 1px solid #617798;
  color: #2D3958;
  font-family: Outfit;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.4px;
  padding-bottom: 30px;
}

.single-related-flex {
  display: flex;
}

.related-box__title {
  color: #2D3958;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.3px;
}

.single-relate {
  margin: 50px 0;
  padding: 20px 40px;
  border-radius: 5px;
  background: var(--bgbg-light, #F8FAFC);
}
.single-comments__infomation {
  display: flex;
  gap: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #617798;
  padding-top: 20px;
}

.single-infomation__date {
  display: flex;
  justify-content: space-between;
  padding-bottom: 25px;
}

.single-text__item {
  display: flex;
}

.single-date__time {
  color: var(--text-text, #7B88A8);
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.7; /* 171.429% */
  letter-spacing: 0.4px;
}

.single-text__discription {
  color: var(--text-text, #7B88A8);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6; /* 162.5% */
  padding-bottom: 43px;
}

.single-write__title {
  padding-bottom: 30px;
  padding-top: 40px;
  color: var(--text-heading, #2D3958);
  font-family: Outfit;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.4px;
}

.single-write__box {
  gap: 20px;
}

.single-box__name {
  padding-left: 17.5px;
  color: #7B88A8;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  width: 100%;
  height: 48px;
  border-radius: 5px;
  border: 1px solid var(--lines-gray-line, #E7E5EA);
  background: var(--bgbg-white, #FFF);
}
@media (max-width: 768px) {
  .single-box__name {
    width: 100%;
  }
}

.single-box__comment {
  padding-top: 11px;
  padding-left: 16px;
  margin-top: 20px;
  margin-bottom: 40px;
  width: 100%;
  height: 170px;
  color: #7B88A8;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6;
  border-radius: 5px;
  border: 1px solid var(--lines-gray-line, #E7E5EA);
  background: var(--bgbg-white, #FFF);
  color: var(--text-text, #7B88A8);
  font-feature-settings: "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
@media (max-width: 768px) {
  .single-box__comment {
    width: 100%;
  }
}
.single-comments {
  border: 1px solid #617798;
  padding: 42px 30px;
}

.single-item__img {
  color: #4F77FF;
}

.single-group__title {
  padding: 40px;
  text-align: center;
}
@media (max-width: 768px) {
  .single-group__title {
    font-size: 32px;
  }
}

.single-group__text {
  width: 100%;
  height: 170px;
  border-radius: 5px;
  background: var(--bgbg-light, #F8FAFC);
  padding-bottom: 50px;
  color: var(--text-heading, #2D3958);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5; /* 155.556% */
  letter-spacing: -0.3px;
}
@media (max-width: 768px) {
  .single-group__text {
    font-size: 16px;
    padding-bottom: 0;
  }
}

.single-group__discription {
  color: var(--text-text, #7B88A8);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6; /* 162.5% */
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  .single-group__discription {
    font-size: 16px;
    padding-bottom: 0;
  }
}

@media (max-width: 768px) {
  .single-wrap__left {
    max-width: 100%;
  }
}
.single-left__img {
  width: 100%;
  padding-bottom: 40px;
}
@media (max-width: 768px) {
  .single-left__img {
    max-width: 100%;
  }
}
@media (max-width: 991px) {
  .single-left__img {
    max-width: 100%;
  }
}

.page-shop__wrap {
  display: flex;
  margin-top: 100px;
  gap: 114px;
}
@media (max-width: 768px) {
  .page-shop__wrap {
    flex-wrap: wrap;
  }
}
@media (max-width: 991px) {
  .page-shop__wrap {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .page-wrap {
    display: none;
  }
}
@media (max-width: 991px) {
  .page-wrap {
    display: none;
  }
}

.shop-product__line {
  display: flex;
  text-align: center;
  gap: 30px;
}
@media (max-width: 768px) {
  .shop-product__line {
    gap: 0;
  }
}

.shop-items__title {
  padding: 15px 0;
  padding: 15px 0;
  text-align: center;
  color: var(--text-heading, #2D3958);
  font-family: Outfit;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0.4px;
}

.shop-items__img {
  padding-top: 40px;
}

.shop-right__devices {
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.shop-right__devices .shop-right__icon {
  position: absolute;
  top: 17px;
  left: 925px;
}
@media (max-width: 768px) {
  .shop-right__devices {
    justify-content: flex-start;
    gap: 10px;
  }
}
@media (max-width: 1200px) {
  .shop-right__devices {
    display: none;
  }
}

.page-price__title {
  width: 97px;
  height: 52px;
  color: #2D3958;
  font-family: Outfit;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5; /* 155.556% */
  letter-spacing: 0.4px;
}

.page-wrap__category {
  position: relative;
}
.page-wrap__category .shop-right__icon {
  position: absolute;
  top: 9px;
  left: 167px;
}

.page-apps__box {
  padding-bottom: 16px;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: -0.3px;
}

.page-line__cost {
  justify-content: space-between;
}

.page-wrap__brand {
  position: relative;
}
.page-wrap__brand .shop-right__icon {
  position: absolute;
  top: 9px;
  left: 174px;
}

.page-wrap__price {
  position: relative;
}
.page-wrap__price .shop-right__icon {
  position: absolute;
  top: 9px;
  left: 174px;
}

.product-wrap {
  gap: 130px;
  margin-top: 100px;
}
@media (max-width: 768px) {
  .product-wrap {
    gap: 10px;
    flex-wrap: wrap;
    padding-left: 50px;
  }
}
@media (max-width: 991px) {
  .product-wrap {
    gap: 0;
  }
}

.product-midle__text {
  color: #2D3958;
  font-family: Outfit;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5; /* 155.556% */
  letter-spacing: 0.4px;
}

.product-right__title {
  color: var(--text-heading, #2D3958);
  font-feature-settings: "clig" off, "liga" off;
  /* Headline/Headline 1 */
  font-family: Outfit;
  font-size: 42px;
  font-weight: 500;
  line-height: 1.9; /* 119.048% */
  letter-spacing: -0.84px;
}

.product-right__price {
  color: var(--text-text, #7B88A8);
  font-feature-settings: "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5; /* 155.556% */
  letter-spacing: -0.3px;
}

.product-right__img {
  padding-top: 40px;
  padding-bottom: 20px;
}

.product-wrap__left {
  width: 100%;
}

.product-left__header {
  display: flex;
  gap: 10px;
}

.product-left__img {
  width: 100%;
  max-width: 100%;
}

.product-right__discription {
  padding-top: 20px;
  color: var(--text-text, #7B88A8);
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6; /* 162.5% */
}
@media (max-width: 991px) {
  .product-right__discription {
    width: 360px;
  }
}

.product-midle__text {
  padding: 32px 0;
}

.product-right__colors {
  display: flex;
  gap: 10px;
  padding-bottom: 40px;
}

.product-right__icon {
  padding-top: 30px;
  padding-bottom: 50px;
  gap: 20px;
}

.product-right__note {
  width: 470px;
  gap: 20px;
  height: 54px;
  text-align: center;
}
@media (max-width: 991px) {
  .product-right__note {
    width: 400px;
  }
}

.product-midle__reviews {
  text-align: center;
  justify-content: center;
  gap: 40px;
}

.product-middle__right {
  width: 570px;
  height: 69px;
  color: var(--text-text, #7B88A8);
  font-feature-settings: "clig" off, "liga" off;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.6; /* 162.5% */
}

@media (max-width: 768px) {
  .product-right__middle {
    flex-wrap: wrap;
    justify-content: center;
    gap: 34px;
  }
}

.product-midle__wrap {
  padding-top: 40px;
  padding-bottom: 100px;
}

.product-bottom__images {
  gap: 30px;
  padding-top: 80px;
}
@media (max-width: 768px) {
  .product-bottom__images {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .product-bottom__images {
    flex-wrap: wrap;
    justify-content: center;
  }
}
.product-bottom__images .shop-items__title {
  color: var(--text-heading, #2D3958);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Outfit;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.6; /* 155.556% */
  letter-spacing: 0.4px;
}

.shop-product__items {
  display: flex;
  flex-direction: column;
}

.shop-items__price {
  color: var(--text-text, #7B88A8);
  text-align: center;
  font-family: DM Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.work-title {
  padding-top: 120px;
  padding-bottom: 90px;
}

.work-title__wrap {
  gap: 30px;
  padding: 0 30px;
}
@media (max-width: 768px) {
  .work-title__wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .work-title__wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 1200px) {
  .work-title__wrap {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.work-wrap__col {
  flex-direction: column;
  gap: 30px;
}

.work-button__btn {
  color: #7B88A8;
  display: inline-flex;
  height: 55.941px;
  padding: 18px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 5px;
  background: #E7E5EA;
}

.work-button {
  text-align: center;
  padding-top: 70px;
}

.recent {
  padding-top: 120px;
  padding-bottom: 240px;
}

.recent-wrap__header {
  align-items: center;
  text-align: center;
  justify-content: space-between;
}

.recent-wrap__images {
  padding-top: 35px;
  gap: 30px;
}
@media (max-width: 768px) {
  .recent-wrap__images {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 991px) {
  .recent-wrap__images {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 1200px) {
  .recent-wrap__images {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.company--p120 {
  padding-bottom: 120px;
}

.recent-wrap__box {
  display: flex;
  flex-direction: column;
  position: relative;
}

.recent-box__sizing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recent-wrap__tip {
  position: absolute;
  top: 60px;
}

.recent-box__title {
  text-align: center;
  color: var(--text-text-white, #FFF);
  font-family: Outfit;
  font-size: 22px;
  font-weight: 400;
  line-height: 1.5; /* 145.455% */
  letter-spacing: -1px;
}

.recent-box__discription {
  color: var(--text-text-gray, #E7E5EA);
  text-align: center;
  font-family: DM Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6; /* 155.556% */
  letter-spacing: -0.3px;
}

.shop-right__box {
  padding-left: 19px;
  width: 210px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid var(--lines-gray-line, #E7E5EA);
  background: var(--bgbg-white, #FFF);
}

.blog-right__search {
  width: 270px;
  height: 146px;
  border-radius: 5px;
  background: var(--bgbg-light, #F8FAFC);
  margin-bottom: 30px;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.container--right {
  max-width: 1920px;
  margin-right: 0;
  margin-left: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--grid-col-gap-vertical) / -2);
  margin-right: calc(var(--grid-col-gap-vertical) / -2);
}

.col {
  width: calc(var(--col-xs) / var(--grid) * 100%);
  padding-left: calc(var(--grid-col-gap-vertical) / 2);
  padding-right: calc(var(--grid-col-gap-vertical) / 2);
  padding-top: var(--grid-col-gap-horizontal);
}

@media (min-width: 320px) {
  .col {
    width: calc(var(--col-xs) / var(--grid) * 100%);
  }
}
@media (min-width: 576px) {
  .col {
    width: calc(var(--col-sm) / var(--grid) * 100%);
  }
}
@media (min-width: 768px) {
  .col {
    width: calc(var(--col-md) / var(--grid) * 100%);
  }
}
@media (min-width: 992px) {
  .col {
    width: calc(var(--col-lg) / var(--grid) * 100%);
  }
}
@media (min-width: 1100px) {
  .col {
    width: calc(var(--col-lg) / var(--grid) * 100%);
  }
}
@media (min-width: 1200px) {
  .col {
    width: calc(var(--col-lg) / var(--grid) * 100%);
  }
}
@media (max-width: 1200px) {
  .col--flex {
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */